<h2>Functions</h2>
<table class="table three-col-example">
  <thead>
  <tr>
    <th>Description</th>
    <th>Code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tr *ngFor="let example of examples">
    <td>{{example.name}}</td>
    <td><div class="code-ts hljs"><code mwlHighlightJs [source]="example.code" language="ts"></code></div></td>
    <td><div class="code-json hljs"><code mwlHighlightJs [source]="example.result" language="json"></code></div></td>
  </tr>
</table>

<h2>Pipes</h2>
<table class="table three-col-example">
  <thead>
  <tr>
    <th>Description</th>
    <th>Code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tr>
    <td>IsEmpty</td>
    <td><div class="code-pipes hljs"><code mwlHighlightJs [source]="pipes.isEmpty" language="ts"></code></div></td>
    <td><div class="code-json hljs"><span *ngIf="{}|fsUtilIsEmpty">Is Empty</span></div></td>
  </tr>
  <tr>
    <td>IsEmpty</td>
    <td><div class="code-pipes hljs"><code mwlHighlightJs [source]="pipes.isNotEmpty" language="ts"></code></div></td>
    <td><div class="code-json hljs"><span *ngIf="{ key: 'value' }|fsUtilIsNotEmpty">Is Not Empty</span></div></td>
  </tr>
</table>


<h2>Queues</h2>
<mat-card>
  <h4>Status of Queue</h4>
  <table>
    <tr>
      <td><b>Total: </b></td>
      <td>{{queue.total}}</td>
    </tr>
    <tr>
      <td><b>Finished: </b></td>
      <td>{{queue.finished}}</td>
    </tr>
    <tr>
      <td><b>Errors: </b></td>
      <td>{{queue.errors}}</td>
    </tr>
    <tr>
      <td><b>All Done: </b></td>
      <td>{{queue.allDone}}</td>
    </tr>
    <tr>
      <td><b>In Progress: </b></td>
      <td>{{queue.inProgressOperations}}</td>
    </tr>
  </table>


  <form (submit)="addQueueOperation()">
    <mat-form-field>
      <input matInput name="name"
             [(ngModel)]="queueForm.name"
             placeholder="Operation name (like fileUpload)"
             required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="delay"
             type="number"
             [(ngModel)]="queueForm.delay"
             placeholder="Operation Delay (Like response delay)"
             required>
    </mat-form-field>
    <button type="submit" mat-button>Push</button>
  </form>
</mat-card>
