<table class="table three-col-example">
  <thead>
  <tr>
    <th>Description</th>
    <th>Code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tr>
    <td>IsEmpty</td>
    <td><div class="code-pipes hljs"><code mwlHighlightJs [source]="pipes.isEmpty" language="ts"></code></div></td>
    <td><div class="code-json hljs"><span *ngIf="{}|fsUtilIsEmpty">Is Empty</span></div></td>
  </tr>
  <tr>
    <td>IsEmpty</td>
    <td><div class="code-pipes hljs"><code mwlHighlightJs [source]="pipes.isNotEmpty" language="ts"></code></div></td>
    <td><div class="code-json hljs"><span *ngIf="{ key: 'value' }|fsUtilIsNotEmpty">Is Not Empty</span></div></td>
  </tr>
</table>
