<table class="table three-col-example">
  <thead>
  <tr>
    <th>Description</th>
    <th>Code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tr>
    <td>Number</td>
    <td><div class="code-pipes hljs"><code mwlHighlightJs [source]="pipes.number" language="ts"></code></div></td>
    <td><div class="code-json hljs">{{42397803.23987|fsFormatNumber:2}}</div></td>
  </tr>
  <tr>
    <td>Ordinal Number</td>
    <td>
      <div class="code-pipes hljs">
        <code mwlHighlightJs [source]="pipes.ordinalNumber[0]" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.ordinalNumber[1]" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.ordinalNumber[2]" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.ordinalNumber[3]" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.ordinalNumber[4]" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.ordinalNumber[5]" language="ts"></code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{1|fsFormatOrdinalNumber}}
        <br>
        {{2|fsFormatOrdinalNumber}}
        <br>
        {{3|fsFormatOrdinalNumber}}
        <br>
        {{4|fsFormatOrdinalNumber}}
        <br>
        {{11|fsFormatOrdinalNumber}}
        <br>
        {{21|fsFormatOrdinalNumber}}
      </div>
    </td>
  </tr>
  <tr>
    <td>Currency</td>
    <td>
      <div class="code-pipes hljs">
        <code mwlHighlightJs [source]="pipes.currency.simple" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.currency.decimals" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.currency.decimals4" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.currency.eur" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.currency.precision" language="ts"></code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{ 42397803.23987 | fsFormatCurrency }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:2 }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:[2,4] }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:2:'EUR' }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:0:'EUR' }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Truncate</td>
    <td>
      <div class="code-pipes hljs">
        <code mwlHighlightJs [source]="pipes.truncate.simple" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.truncate.limit" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.truncate.completeWord" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.truncate.elipsis" language="ts"></code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{ text | fsFormatTruncate }}
        <br>
        {{ text | fsFormatTruncate: 15 }}
        <br>
        {{ text | fsFormatTruncate: 15 : true }}
        <br>
        {{ text | fsFormatTruncate: 15 : true : '***' }}
      </div>
    </td>
  </tr>
  <tr>
    <td>Bytes</td>
    <td>
      <div class="code-pipes hljs">
        <code mwlHighlightJs [source]="pipes.bytes[0]" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.bytes[1]" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.bytes[2]" language="ts"></code>
        <br>
        <code mwlHighlightJs [source]="pipes.bytes[3]" language="ts"></code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{233|fsFormatBytes}}
        <br>
        {{65443|fsFormatBytes}}
        <br>
        {{89347764|fsFormatBytes}}
        <br>
        {{(400 * 1024 * 1024)|fsFormatBytes}}
      </div>
    </td>
  </tr>
</table>
