<table class="table three-col-example">
  <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Code
      </th>
      <th>
        Result
      </th>
    </tr>
  </thead>
  <tr>
    <td>
      Number
    </td>
    <td>
      <div class="code-pipes hljs">
        <code
          [highlight]="pipes.number"
          [languages]="['typescript']">
        </code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{ 42397803.23987|fsFormatNumber:2 }}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Ordinal Number
    </td>
    <td>
      <div class="code-pipes hljs">
        <code
          [highlight]="pipes.ordinalNumber[0]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.ordinalNumber[1]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.ordinalNumber[2]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.ordinalNumber[3]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.ordinalNumber[4]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.ordinalNumber[5]"
          [languages]="['typescript']">
        </code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{ 1|fsFormatOrdinalNumber }}
        <br>
        {{ 2|fsFormatOrdinalNumber }}
        <br>
        {{ 3|fsFormatOrdinalNumber }}
        <br>
        {{ 4|fsFormatOrdinalNumber }}
        <br>
        {{ 11|fsFormatOrdinalNumber }}
        <br>
        {{ 21|fsFormatOrdinalNumber }}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Currency
    </td>
    <td>
      <div class="code-pipes hljs">
        <code
          [highlight]="pipes.currency.simple"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.currency.decimals"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.currency.decimals4"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.currency.eur"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.currency.precision"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.currency.cad"
          [languages]="['typescript']">
        </code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{ 42397803.23987 | fsFormatCurrency }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:0 }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:2 }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:2:'EUR' }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:0:'EUR' }}
        <br>
        {{ 42397803.23987 | fsFormatCurrency:0:'CAD' }}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Truncate
    </td>
    <td>
      <div class="code-pipes hljs">
        <code
          [highlight]="pipes.truncate.simple"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.truncate.limit"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.truncate.completeWord"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.truncate.elipsis"
          [languages]="['typescript']">
        </code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{ text | fsFormatTruncate }}
        <br>
        {{ text | fsFormatTruncate: 15 }}
        <br>
        {{ text | fsFormatTruncate: 15 : true }}
        <br>
        {{ text | fsFormatTruncate: 15 : true : '***' }}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Bytes
    </td>
    <td>
      <div class="code-pipes hljs">
        <code
          [highlight]="pipes.bytes[0]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.bytes[1]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.bytes[2]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.bytes[3]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.bytes[4]"
          [languages]="['typescript']">
        </code>
        <br>
        <code
          [highlight]="pipes.bytes[5]"
          [languages]="['typescript']">
        </code>
      </div>
    </td>
    <td>
      <div class="code-json hljs">
        {{ 233|fsFormatBytes }}
        <br>
        {{ 65.443 * 1024|fsFormatBytes }}
        <br>
        {{ 85.23 * 1024 * 1024|fsFormatBytes }}
        <br>
        {{ 402.54 * 1024 * 1024 * 1024|fsFormatBytes }}
        <br>
        {{ 825.23 * 1024 * 1024|fsFormatBytes:0:'MB' }}
        <br>
        {{ 3443 * 1024 * 1024|fsFormatBytes:null:'GB' }}
      </div>
    </td>
  </tr>
</table>