<h2>Functions</h2>
<table class="table three-col-example">
  <thead>
  <tr>
    <th>Description</th>
    <th>Code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tr *ngFor="let example of examples">
    <td>{{example.name}}</td>
    <td><div class="code-ts hljs"><code mwlHighlightJs [source]="example.code" language="ts"></code></div></td>
    <td><div class="code-json hljs"><code mwlHighlightJs [source]="example.result" language="json"></code></div></td>
  </tr>
</table>

<h2>Pipes</h2>
<table class="table three-col-example">
  <thead>
  <tr>
    <th>Description</th>
    <th>Code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tr>
    <td>Number</td>
    <td><div class="code-pipes hljs"><code mwlHighlightJs [source]="pipes.number" language="ts"></code></div></td>
    <td><div class="code-json hljs">{{42397803.23987|fsFormatNumber:2}}</div></td>
  </tr>
</table>

<h2>Acronym</h2>
<table class="table">
  <thead>
  <tr>
    <th>Original string</th>
    <th>Code</th>
    <th>1-letter acronym result</th>
    <th>2-letters acronym result</th>
    <th>3-letters acronym result</th>
  </tr>
  </thead>
  <tr *ngFor="let example of acronymExamples">
    <td>{{example.acronymOriginalString}}</td>
    <td><div class="code-ts hljs"><code mwlHighlightJs [source]="example.code" language="ts"></code></div></td>
    <td><div class="code-json hljs">{{example.result1}}</div></td>
    <td><div class="code-json hljs">{{example.result2}}</div></td>
    <td><div class="code-json hljs">{{example.result3}}</div></td>
  </tr>
</table>
