<fs-examples
  title="Common"
  githubUrl="https://github.com/Firestitch/fs-common"
  npmUrl="https://www.npmjs.com/package/@firestitch/common">

  <fs-example title="FsArray" componentName="fsarray-example">
    <fsarray-example></fsarray-example>
  </fs-example>

  <fs-example title="FsUtil" componentName="fsutil-example">
    <fsutil-example></fsutil-example>
  </fs-example>

  <fs-example title="FsFormat" componentName="fsformat-example">
    <fsformat-example></fsformat-example>
  </fs-example>

</fs-examples>
