<fs-examples [config]="config">

  <fs-example name="Array" componentName="array-example">
    <fs-array-example></fs-array-example>
  </fs-example>

  <fs-example name="Util Functions" componentName="util-functions">
    <fs-util-functions></fs-util-functions>
  </fs-example>

  <fs-example name="Util Pipes" componentName="fsutil-pipes">
    <fs-util-pipes></fs-util-pipes>
  </fs-example>

  <fs-example name="Util Queue" componentName="util-queue">
    <fs-util-queue></fs-util-queue>
  </fs-example>

  <fs-example name="Util Queue Save" componentName="util-queue-save">
    <fs-util-queue-save></fs-util-queue-save>
  </fs-example>

  <fs-example name="Format Functions" componentName="format-functions">
    <fs-format-functions></fs-format-functions>
  </fs-example>

  <fs-example name="Format Pipes" componentName="format-pipes">
    <fs-format-pipes></fs-format-pipes>
  </fs-example>

  <fs-example name="Format Acronym" componentName="format-acronym">
    <fs-format-acronym></fs-format-acronym>
  </fs-example>

  <fs-example name="Util Functions" componentName="util-functions">
    <fs-util-functions></fs-util-functions>
  </fs-example>

  <fs-example name="Auto Focus" componentName="autofocus">
    <app-autofocus></app-autofocus>
  </fs-example>

  <fs-example name="Model Change" componentName="model-change">
    <app-model-change></app-model-change>
  </fs-example>

</fs-examples>
