<fs-examples
  title="Common"
  [githubUrl]="environment.githubUrl"
  [npmUrl]="environment.npmUrl">

  <fs-example title="FsArray" componentName="fsarray-example">
    <fs-array-example></fs-array-example>
  </fs-example>

  <fs-example title="FsUtil Functions" componentName="fsutil-functions">
    <fs-util-functions></fs-util-functions>
  </fs-example>

  <fs-example title="FsUtil Pipes" componentName="fsutil-pipes">
    <fs-util-pipes></fs-util-pipes>
  </fs-example>

  <fs-example title="FsUtil Queue" componentName="fsutil-queue">
    <fs-util-queue></fs-util-queue>
  </fs-example>

  <fs-example title="FsUtil Queue Save" componentName="fsutil-queue-save">
    <fs-util-queue-save></fs-util-queue-save>
  </fs-example>

  <fs-example title="FsFormat Functions" componentName="fsformat-functions">
    <fs-format-functions></fs-format-functions>
  </fs-example>

  <fs-example title="FsFormat Pipes" componentName="fsformat-pipes">
    <fs-format-pipes></fs-format-pipes>
  </fs-example>

  <fs-example title="FsFormat Acronym" componentName="fsformat-acronym">
    <fs-format-acronym></fs-format-acronym>
  </fs-example>

  <fs-example title="FsUtil Functions" componentName="fsutil-functions">
    <fs-util-functions></fs-util-functions>
  </fs-example>


</fs-examples>
