<h2>Functions</h2>
<fieldset style="margin-top:0;">
  <legend>Initial Array</legend>
  {{ array | json }}
</fieldset>

<br>

<table class="table three-col-example">
  <thead>
  <tr>
    <th>Description</th>
    <th>Code</th>
    <th>Result</th>
  </tr>
  </thead>
  <tr *ngFor="let example of examples">
    <td>{{example.name}}</td>
    <td><div class="code-ts hljs"><code mwlHighlightJs [source]="example.code" language="ts"></code></div></td>
    <td><div class="code-json hljs"><code mwlHighlightJs [source]="example.result" language="json"></code></div></td>
  </tr>
</table>
