<table class="table">
  <thead>
    <tr>
      <th>Original string</th>
      <th>Code</th>
      <th>1-letter acronym result</th>
      <th>2-letters acronym result</th>
      <th>3-letters acronym result</th>
    </tr>
  </thead>
  @for (example of acronymExamples; track example) {
    <tr>
      <td>{{example.acronymOriginalString}}</td>
      <td><div class="code-ts hljs"><code [highlight]="example.code" [languages]="['typescript']"></code></div></td>
      <td><div class="code-json hljs">{{example.result1}}</div></td>
      <td><div class="code-json hljs">{{example.result2}}</div></td>
      <td><div class="code-json hljs">{{example.result3}}</div></td>
    </tr>
  }
</table>
