.table {
  border: 1px solid #ccc;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

.table td {
  border: 1px solid #ccc;
  padding: 5px 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.table th {
  padding: 10px;
}

.table.three-col-example td {
  width: 33%;
}

.table.three-col-example td:first-child {
  width: 15%;
}
